body {
  min-height: fit-content;
  font-family: "Montserrat", sans-serif;
  color: #5a6066;
}

main {
  max-width: 800px;
  margin: 60px auto;
  border: 1px solid #5a6066;
  padding: 30px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #dee2e4;
  margin-bottom: 10px;
  background-color: #f4f4f4;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0;
  padding-top: 15px;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  float: right;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 3px;
}

hr {
  margin-top: 0;
}

.units {
  font-size: 16px;
  position: relative;
  top: -25px;
}

.date {
  font-size: 16px;
  position: relative;
  left: 3px;
}

.search-box {
  margin: 0 auto;
  width: 450px;
}

.btn {
    background-color: #fff;
}

.weather-info {
  padding: 10px 20px 0;
}

.update-info {
  color: #85888b;
}

.detailed-info {
  color: #85888b;
}

.degree-info img {
  position: relative;
  top: -5px;
}

#description {
  text-transform: capitalize;
  color: #5a6066;
}

.degree-info .active {
  color: #5a6066;
  cursor: default;
}

.weather-forecast {
  text-align: center;
  color: #5a6066;
  font-size: 16px;
}

.weather-forecast-temperature-min {
  font-size: 15px;
  color: #85888b;
}

.footer {
  font-size: 15px;
  text-align: center;
  color: #85888b;
}

.footer a {
    color: #5a6066;
    text-decoration: underline;
}